{% extends 'base.html.twig' %}

{% block title %}ChargeIT Homepage{% endblock %}

{% block navigable %}
    <link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css" />
    <script src="/assets/js/leaflet.js"></script>
    <script src="/assets/js/homepage.js"></script>
    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-shrink: 100;
            flex-direction: column;
        }
        .table td, .table th {
            vertical-align: middle;
        }
        #sb {
            height: 97%;
            width: 20%;
            float: left;
            border: 3px solid #b5b5b5;
            border-radius: 10px;
            background-color: #ffffff;
            margin: 0.75rem;
            position: absolute;
            z-index: 1040;
        }
    </style>
    <div style="width: 100%; height: calc(100% - 56px); display: flex; position: absolute; margin-top: 56px">
        <div id="sb" class="card" style="display: none">
            <div class="card-body">
                <i onclick="closeViewer()" class="bi bi-x-lg mr-1" style="size: 1rem; color: red; float: right; font-size: 1.1em"></i>
                <h5 id="stationName" class="card-title">Station name</h5>
                <h6 id="stationLocation" class="card-subtitle mb-2 text-muted">Station address</h6>
                <a id="stationGMaps" href="#" class="card-link" target="_blank" rel="noopener">View on Google Maps</a>
                <br><br>
                <p class="card-text">Select a plug you would like to make a reservation at:</p>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Connector</th>
                        <th scope="col">Output</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody id="plugsTableBody" >
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width: 100%; display: flex; flex-direction: column">
            <div id="map" style="height: 100%; width: 100%"></div>
            <script type="text/javascript">
                loadMap();
            </script>
        </div>
        <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel">Create booking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <embed id="modalEmbed" style="width: 100%; height: 360px">
                    </div>
                </div>
            </div>
        </div>
    </div>
{#        <div style="text-align: center">#}
{#            <h1>Charge IT Homepage</h1>#}
{#            <h3>Welcome back, {{ name }}!</h3>#}
{#            <br><br>#}
{#            <span style="color: orange">UNDER CONSTRUCTION!</span><br>#}
{#            Use the navigation bar at the top of the page to go to one of the available pages.#}
{#        </div>#}
{% endblock %}
