{% extends 'base.html.twig' %}

{% block title %}ChargeIT Homepage{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div>
        <div style="text-align: center">
            <h1>Charge IT Homepage</h1>
            <h3>Welcome back, {{ name }}!</h3>
            <br><br>
            <span style="color: orange">UNDER CONSTRUCTION!</span><br>
            Use the navigation bar at the top of the page to go to one of the available pages.
        </div>
    </div>
{% endblock %}
